/* Add your global CSS styling here */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Change font-family */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px; /* Adjust font-size */
  background-color: #f6f6f6; /* Set background color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Add custom styles for your application */
